* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 100px;
}

.container {
    background: #111;
    box-shadow: 0 0 10px #fff;
    padding: 10px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}
h1 {
    font-size: 40px;
    padding: 6px;
    background: #000;
    border: 2px solid #222;
    border-radius: 10px;
}
.btns {
    display: flex;
    background: #000;
    border: 2px solid #222;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    justify-content: space-between;
}
.btns button {
    padding: 10px 15px;
    background: #222;
    border: 2px solid #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.btns button:active {
    background: #111;
}