* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #111;
    border: 1px solid #888;
    padding: 10px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    padding: 6px;
    background: #000;
    border: 2px solid #222;
    border-radius: 10px;
}

.btns {
    background: #000;
    border: 2px solid #222;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.btns button {
    flex-grow: 1;
    padding: 10px 15px;
    background: #222;
    border: 2px solid #333;
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btns button:active {
    background: #111;
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 30px;
    }
}
